.row{
	border-bottom: 1px solid #f0f0f0;
    padding: 10px 0 10px 0;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.img-circle-local {
    width: 80px;
    height: 80px;
}
.img-circle-text {
    padding-top: 10px;
}
.table-list {
    display: table;
}
.table-list .list-left,
.table-list .list-right{
    display: table-cell;
    vertical-align: middle;
}
.table-list .list-left {
    width: 10%;
    max-width: 112px;
}
.table-list .list-left img {
    margin-left: 16px;
    margin-right: 8px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
}
.table-list .list-right {
    padding: 0px 8px;
}
.table-list .list-right div {
    height: 20px;
    line-height: 20px;
}
.table-list .list-right div.list-ellipsis {
    height: auto;
    max-height: 40px;
    overflow: hidden;
}
.table-list .list-left .img-circle-list {
    height: 80px;
    width: 80px;
}
.table-list .list-right .list_info_content {
    height: auto;
}
.table-list .list-right .user_info{
	font-weight: bolder;
	height: auto;
}
.table-list .list-right .user_info_name{
	font-size: 18px;
    font-weight: bold;
}