/**********************
 * global
 **********************/ 
html,body{
    width: 100%;
    height: 100%;
    background-color:#f0eff5;
}
ol, ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
/**********************
 * header
 **********************/ 
.head-btn-padding {
	padding: 10px 0;
}
header{
	height:54px;
	padding:10px 2%;
	background:#efeff4;
	box-sizing: border-box;
	position: relative;
}
header .search_txt{
	color:#8d8d92;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

/**********************
 * nav_condition
 **********************/ 
.nav_condition{
	position: relative;
}
#condition{
	height:50px;
	box-sizing: border-box;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	background-color:#fff;
}
/*改变bootstrap默认设置使下拉框宽度100%*/
#condition .btn-group,.nav_condition .dropdown{
	position: static;
}
#condition .dropdown-menu{
	left:0;
	right:0;
	top:46px;
}
#condition button{
	border:none;
}
#condition  .dropdown-menu > li{
	position: relative;
}
#condition .dropdown-menu .glyphicon{
	position: absolute;
	right:15px;
}
.btn-select{
	color:#4fbbea;
}
 .cover{
 	position: fixed;top:110px;right:0;
    bottom:0;left:0;z-index:1;background:#737373;
    opacity:0.5;display: none;
 }
 #myDropdown2 li{
 	border-bottom:1px solid #e4e4e4;
 }
  #myDropdown2 li:last-child{
 	border-bottom:0;
 }
/**********************
 * content
 **********************/ 
.content .content-title{
	font-weight: bold;
	font-size:16px;
}
.content .right_content{
	padding-bottom:12px;
}
.content .content-des{
	color:#888;
}
.content .price{
	color:#50baea;
	font-size:16px;
	font-weight: bold;
}
.content .count{
	color:#c3c3c3;
}
.content img {
    /*width: 200px;*/
    display: initial;
    margin-right: 30px;
    margin-top:6px;
}
.content .row {
    padding: 10px 0;
    border-bottom: 1px solid rgb(240, 240, 240);
    background:#fff;
    margin-top:10px;
}
.ellipsis{
	line-height:16px;
	height:32px;
	overflow: hidden;
	position: relative;
}
.center-block {
	width:90px;
	height:70px;
}
@media screen and (min-width: 374px) {
    .content img {
	    margin-top:0px;
	}
}
@media screen and (min-width: 767px) {
    .img-responsive {
        display: initial;
    }
    
}


