html,
body,
.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #d9d9d9;
}
.wrapper {
	overflow-y: scroll;
}

header{
	padding-top: 16px;
	padding-bottom: 16px;
	border: 1px solid #d9d9d9;
	background-color: white;
}
.btn-class {
	background-color: white;
}
section .btn-group {
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-group a.btn {
	border: 0px;
}
.btn-group a.btn.split {
	border-right: 1px solid #d9d9d9;
}





.content {
	padding: 0px 8px;
}
.card img {
	width: 100px;
	height: 100px;
	margin-left:16px;
	/*margin-top: 12px;*/
}
.row>div {
	padding: 0px;
}
.card {
	margin-top: 8px;
	background-color: white;
}
.card .title {
	font-size: 16px;
	font-weight: bolder;
	padding: 16px 16px;
	border: 1px dashed #efefef;
}
.card-content .row>div{
	height: 100px;
}
.card-foot {
	padding: 8px 16px;
}
.card-foot:after{
	display:block;
	content:"clear";
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.btn-red {
	border-color: red;
	color: red;
	background-color: white;
}
.row {
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #efefef;

}
.row>div.height-center {
	line-height: 25px;
	font-size: 12px;
	padding-left: 32px;
	color: #d9d9d9;
}
.status {
	color: #5bc0de;
}
#myModal {
	background-color: rgba(90, 90, 90, 0.4);
}
.modal-dialog {
	margin-top: 49.5%;
}
.modal-footer {
	padding: 0;
	text-align: left;
}
.modal-footer .pull-left {
	border-right: 1px solid #e5e5e5;
}
.modal-footer .btn {
	padding-top: 16px;
	padding-bottom: 16px; 
	width: 49.5%;
	background-color: white;
}
.modal-footer .btn+.btn {
	margin: 0px;
}
@media screen and (min-width: 1023px) {
    .modal-dialog {
		margin-top: 25%;
	}
}

