/**********************
 * global
 **********************/ 
html,body{
    width: 100%;
    height: 100%;
}
ol, ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
/**********************
 * header
 **********************/ 
header{
	height:54px;
	padding:10px 2%;
	background:#efeff4;
	box-sizing: border-box;
	position: relative;
}
header .search_txt{
	color:#8d8d92;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

/**********************
 * nav_condition
 **********************/ 
.nav_condition{
	position: relative;
}
#condition{
	line-height: 32px;
    height: 32px;
	box-sizing: border-box;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.condition-splite-line {
	border-right: 1px solid #dddddd;
}
#condition>div{
	position: static;
	margin-top:5px;
	margin-bottom:5px;
	padding: 0px 0px;
}
/*改变bootstrap默认设置使下拉框宽度100%*/
#condition .btn-group,.nav_condition .dropdown{
	position: static;
}
#condition .dropdown-menu{
	left:0;
	right:0;
	top:44px;
}
#condition button{
	border:none;
}
#condition  .dropdown-menu > li{
	position: relative;
}
#condition .dropdown-menu .glyphicon{
	position: absolute;
	right:15px;
}
.btn-select{
	color:#4fbbea;
}
 .cover{
 	position: fixed;top:110px;right:0;
    bottom:0;left:0;z-index:1;background:#737373;
    opacity:0.5;display: none;
 }
/**********************
 * content
 **********************/ 
 .row {
 	padding-top: 8px;
 	padding-bottom: 8px;
 }
/* .my_relative{
	display: relative;
}
.content .row{
	border-bottom:1px solid #f0f0f0;
	padding:10px;
}
.content img {
    width: 200px;
    display: initial;
    margin-right: 30px;
    margin-top:10px;
}
.content .hospital-name{
	font-size: 18px;
	font-weight: bold;
	color:#000;
}
.content .distance{
	position: absolute;
	right:10px;
}
.content .other{
	color:#ffac4f;
	font-weight: bold;
}
.content .desc{
	color:#909090;
}
.content .personal_info {
    margin-top:3%;
    color: #888;
}
.content .personal_info div{
    padding-bottom:5px;
}*/
/*.content .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}*/

.table-list {
    display: table;
}
.table-list .list-left,
.table-list .list-right{
    display: table-cell;
    vertical-align: middle;
}
.table-list .list-left {
    width: 10%;
    max-width: 112px;
}
.table-list .list-left img {
    margin-left: 16px;
    margin-right: 8px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
}
.table-list .list-right {
    padding: 0px 8px;
}
.table-list .list-right div {
    height: 20px;
    line-height: 20px;
}
.table-list .list-right div.list-ellipsis {
    height: auto;
    max-height: 40px;
    overflow: hidden;
}
.table-list .list-left .img-circle-list {
    height: 80px;
    width: 80px;
}
.table-list .list-right .list_info_content {
    height: auto;
}
/*@media screen and (max-width: 374px) {
	.content .hospital-name{
		font-size:16px;
	}
    .content .distance{
    	right:0;
    }
}
@media screen and (min-width: 767px) {
    .img-responsive {
        display: initial;
    }
    .content .personal_info{
    	margin-top:1%;
    }
}
@media screen and (min-width: 1023px) {
    .content .personal_info{
    	margin-top:3%;
    }
}*/

