/**********************
 * global
 **********************/ 
html,body{
    width: 100%;
    height: 100%;
    background-color:#f0eff5;
    color:#000;
}
header {
	margin: 8px 8px;
	background-color: white;

}
header .title,
header .table-list {
	padding-top: 8px;
    padding-bottom: 8px;
}
header .title {
	border-bottom: 1px solid #d3d3d3;
	padding-left: 16px;
}
header .title .glyphicon-star-empty {
	color: #5bc0de;
}

.table-list {
    display: table;
}
.table-list .list-left,
.table-list .list-right{
    display: table-cell;
    vertical-align: middle;
}
.table-list .list-left {
    width: 10%;
    max-width: 112px;
}
.table-list .list-left img {
    margin-left: 16px;
    margin-right: 8px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
}
.table-list .list-right {
    padding: 0px 8px;
}
.table-list .list-right div {
    height: 20px;
    line-height: 20px;
}
.table-list .list-right div.list-ellipsis {
    height: auto;
    max-height: 40px;
    overflow: hidden;
}
.table-list .list-left .img-circle-list {
    height: 80px;
    width: 80px;
}



section {
	padding: 8px;
	background-color: white;
}
.top {
	background-color: white;
}
.top:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.top .block-right {
	border-left: 3px solid #5bc0de;
	display: inline-block;
	padding-left: 8px;
}
